*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #d3cfcf;
  color: #000000;
  text-align: center;
}

header {
  background-color: #234214;
  color: rgb(216, 167, 119);
  padding: 30px 10px;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.social-media a {
  margin: 0 10px;
  color: #000000;
  text-decoration: none;
}

nav.nav {
  margin: 20px 0;
}

nav button {
  margin: 0 10px;
  padding: 20px 30px;
  border: none;
  background: #110a75;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

nav button:hover {
  background: #cdd7e2;
}

.content-section {
  padding: 20px;
}

.content-section h2 {
  margin-bottom: 15px;
}

.content-section img {
  max-width: 90%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

@media (max-width: 600px) {
  header {
    padding: 10px;
  }

  .profile-pic {
    width: 80px;
    height: 80px;
  }

  .nav button {
    width: 100%;
    margin: 10px 0;
  }

  .social-media a {
    display: block;
    margin: 5px 0;
  }
}

